.assortment {
  background: url("../../img/hero-mobile.jpg") no-repeat top center;
  background-size: 100%;
  background-color: #f9f9f9;
  background-position: 0 -18px;

  @media (min-resolution: 2dppx) {
    background: url("../../img/hero-mobile@2x.jpg") no-repeat top center;
    background-size: 100%;
    background-color: #f9f9f9;
    background-position: 0 -18px;
  }

  @media (min-width: $tablet-width) {
    height: 678px;
    background: url("../../img/hero-tablet.jpg") no-repeat center -67px;
    background-size: cover;

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      width: 100%;
      height: 24px;
      background-image: url("../../img/zigzag-line-tablet.svg");
    }

    @media (min-resolution: 2dppx) {
      background: url("../../img/hero-tablet@2x.jpg") no-repeat center -67px;
      height: 678px;
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    background: url("../../img/hero-desktop.jpg"), $dark-grey;
    background-size: 97%;
    background-position-x: 38px;
    background-position-y: -66px;

    &::after {
      content: "";
      background-size: 110.9%;
    }

    @media (min-resolution: 2dppx) {
      background: url("../../img/hero-desktop@2x.jpg"), $dark-grey;
      background-size: 97%;
      background-position-x: 38px;
      background-position-y: -66px;
    }
  }
}

.assortment__container {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-left: 6.5%;
    margin-right: 6.5%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 4.4%;
    margin-right: 4.4%;
  }
}

.assortment__services-list {
  @include list;
  font-weight: 700;
  font-size: 15px;
  color: $black;
  display: none;
}

.assortment__title {
  @include title;

  margin: 0 auto;
  padding: 73px 0 120px;
  width: 87.5%;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 89px;
    padding-bottom: 370px;
    max-width: 668px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 94px;
    padding-bottom: 356px;
  }
}

.assortment__product-list {
  @include list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.assortment__product-list-item {
  padding: 26px 30px 16px;
  min-height: 103px;
  box-sizing: border-box;

  &--interior {
    background-color: $aquamarine;

    &:hover {
      background-color: #59d5bc;
    }

    &:hover .assortment__product-list-text--interior-icon::after {
      opacity: 0.7;
    }

    &:active .assortment__product-list-text--interior-icon::after {
      opacity: 0.3;
    }
  }

  &--toys {
    background-color: $dark-aquamarine;

    &:hover {
      background-color: #46c1ae;
    }

    &:hover .assortment__product-list-text--toys-icon::after {
      opacity: 0.7;
    }

    &:active .assortment__product-list-text--toys-icon::after {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 26px 36px 31px;
    min-height: 119px;
  }
}

.assortment__product-list-text {
  @include link;
  outline: 1px solid transparent;

  padding-right: 84px;
  margin: 0;
  font-weight: 700;
  font-size: 19px;
  color: $white;
  display: block;
  min-height: 60px;
  position: relative;

  &--interior-icon::after {
    content: "";
    position: absolute;
    top: -2px;
    right: 6px;
    width: 40px;
    height: 62px;
    background: url("../../img/interior.svg") no-repeat;
    opacity: 0.5;
  }

  &--toys-icon::after {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    width: 60px;
    height: 60px;
    background: url("../../img/toy.svg") no-repeat;
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-right: 88px;

    &--interior-icon::after {
      top: 4px;
      right: 0;
    }

    &--toys-icon::after {
      top: 6px;
      right: -3px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 267px;
  }

  &:focus {
    outline: 2px solid $focus;
  }
}
