.nav-toggle {
  border: none;
  background-color: transparent;
  width: 20px;
  height: 14px;
  cursor: pointer;
  outline: 1px solid transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:focus {
    outline: 2px solid $focus;
  }
}
