.page-header {
  background-color: $white;
  position: absolute;
  z-index: 1;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin: 0;
    position: static;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
