.page-main {
  flex-grow: 1;
  margin-top: 79px;

  @media (min-width: $tablet-width) {
    border-top: 1px solid $color-line;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.page-main__assortment {
  margin-bottom: 31px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}
