.page-footer {
  background-color: $lighter-grey;
}

.page-footer__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto 141px auto;
    align-items: center;
    padding: 40px 0;
    min-height: 59px;
  }
}

.page-footer__logo {
  display: none;
  outline: none;
  cursor: auto;

  @media (min-width: $tablet-width) {
    display: block;
  }

  &:focus .page-footer__logo-image {
    outline: 2px solid $focus;
  }
}

.page-footer__logo-image {
  cursor: pointer;
  outline: 1px solid transparent;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

.page-footer__social-list {
  @include list;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 40px;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 59px 30px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    align-items: center;
  }
}

.page-footer__social-list-link {
  outline: 1px solid transparent;

  &:hover .page-footer__social-list-icon {
    fill: #46c1ae;
  }

  &:focus {
    outline: 2px solid $focus;
  }

  &:active .page-footer__social-list-icon {
    opacity: 0.3;
  }
}

.page-footer__copyright {
  margin: 0 auto;
  flex-direction: row;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $medium-grey;

    @media (min-width: $tablet-width) {
      height: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: auto;
    width: 182px;
  }

  @media (min-width: $tablet-width) {
    top: -3px;
  }
}

.page-footer__copyright-text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $black;
  padding-right: 28px;
}

.page-footer__copyright-link {
  outline: 2px solid transparent;

  &:hover .page-footer__copyright-icon {
    fill: #46c1ae;
  }

  &:focus .page-footer__copyright-icon {
    outline: 2px solid $focus;
  }

  &:active .page-footer__copyright-icon {
    opacity: 0.3;
  }
}

.page-footer__copyright-icon {
  padding: 11px 0;
  border: none;
  display: block;
  fill: $aquamarine;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
