.presentation {
  display: grid;
  grid-template-columns: 34px 1fr 34px;
  border: 1px solid #ececec;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 40px 1fr 42px;
    grid-template-rows: min-content;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 365px;
    margin-bottom: 105px;
  }
}

.presentation__title {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 17px;
  line-height: 24px;
  color: $black;
  position: relative;
  padding-left: 57px;
  margin: 0;
  margin-top: 22px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 22px;
    background: url("../../img/video.svg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    font-size: 20px;
    margin-top: 42px;
    padding-left: 66px;

    &::before {
      left: 0;
      top: -3px;
      transform: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    margin: 0 79.8px;
    padding-left: 0;
    padding-top: 96px;

    &::before {
      top: 47px;
      transform: none;
    }
  }
}

.presentation__video {
  grid-column: 1/-1;
  grid-row: 2/3;
  background: url("../../img/video-poster.jpg") no-repeat;
  background-size: cover;
  min-height: 150px;
  display: flex;
  margin-top: 26px;

  @media (min-resolution: 2dppx) {
    background: url("../../img/video-poster@2x.jpg") no-repeat;
    background-size: cover;
    min-height: 150px;
  }

  @media (min-width: $tablet-width) {
    background: url("../../img/video-poster-tablet.jpg") no-repeat;
    background-size: cover;
    min-height: 455px;
    grid-column: 1/-1;
    grid-row: 1/2;
    margin-top: 0;

    @media (min-resolution: 2dppx) {
      background: url("../../img/video-poster-tablet@2x.jpg") no-repeat;
      background-size: cover;
      min-height: 455px;
    }
  }

  @media (min-width: $desktop-width) {
    background: url("../../img/video-poster-desktop.jpg") no-repeat;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 1/4;

    @media (min-resolution: 2dppx) {
      background: url("../../img/video-poster-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }
  }
}

.presentation__button-play {
  border: none;
  outline: 1px solid transparent;
  background-color: transparent;
  padding: 0;
  margin: auto;

  &:hover {
    transform: scale(1.2);
  }

  &:focus {
    outline: 2px solid $focus;
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.presentation__button-icon {
  display: block;
}

.presentation__description {
  grid-column: 2/4;
  grid-row: 3/4;
  font-size: 13px;
  line-height: 24px;
  color: $grey;
  margin: 0;
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 15px;
    line-height: 30px;
    margin-top: 24.5px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 22.5px 36.03px 0 79px;
  }
}

.presentation__button {
  @include link;
  @include button;

  grid-column: 2/3;
  grid-row: 4/5;
  margin-top: 44px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 17px;
    line-height: 16px;
    margin-top: 42.5px;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 3/4;
    width: auto;
    margin: 50.5px 57.05px 61px 79.8px;
  }
}
