.promo-description {
  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  @media (min-width: $desktop-width) {
    grid-column: 3/4;
  }
}
