.promo-picture {
  @media (min-width: $tablet-width) {
    grid-column: 3/-1;
    grid-row: 2/6;
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 5/-1;
    grid-row: 1/6;
  }
}
