.promo {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1.32fr 42px 116px 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 117px 58px 290px 58px 1fr;
    margin-bottom: 56px;
  }
}

.promo__caption {
  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 37px;
  }
}

.promo__title {
  margin: 0;

  @media (min-width: $desktop-width) {
    z-index: 1;
  }
}

.promo__subtitle {
  margin: 0;
  margin-bottom: 17.5px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 46px;
  }
}

.promo__description {
  margin: 0;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.promo__specifications-list {
  @include list;

  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 113px;
  }
}

.promo__picture {
  @media (min-width: $tablet-width) {
    position: relative;
    top: 2px;
  }
}

.promo__image {
  margin: 0 auto;
  margin-bottom: 27.5px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 100%;
  }
}

.promo__price {
  font-weight: 700;
  font-size: 17px;
  color: $grey;
  text-align: center;
  margin: 0;
  padding-bottom: 24.5px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    grid-column: 1/2;
    grid-row: 4/5;
    padding-bottom: 32.5px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
  }
}

.promo__button {
  @include button;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    grid-column: 1/2;
    grid-row: 5/6;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
  }

  &:hover {
    background-color: $grey;
    color: $white;
  }

  &:focus {
    outline: 2px solid $focus;
  }

  &:active {
    background-color: $grey;
    color: rgba(255, 255, 255, 0.3);
  }
}
