.promo-title {
  @include title;

  font-size: 25px;
  padding-bottom: 3px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/-1;
  }
}
