.specifications-list {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
  }
}

.specifications-list-item {
  display: grid;
  grid-template-columns: 97px 1fr;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 1px;
    background-color: $color-line;
  }
}

.specifications-list-title,
.specifications-list-description {
  margin: 0;
  padding-bottom: 14px;
}
