.link {
  outline: 1px solid transparent;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: 2px solid $focus;
    position: relative;
    z-index: 1;
  }

  &:active {
    opacity: 0.3;
  }
}
